body {
     font-family: Verdana;
     background-color: black;
     color: white;
     text-align: center;
     }

.download {
          color: #00cc99;
          }



h6 {
   color: #8c8c8c;
   }

img {
    padding: 25px;
    }

footer {
       text-align: right;
       color: #8c8c8c;
       }
